.imageHolder {
  height: 100%;
  width: 100%;
  background-color: rgba(163, 163, 163, 0.24);
  align-self: center;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30%;
  margin: 10px;
  border: 1px rgb(218, 218, 218) solid;
  box-shadow: 1px 1px 5px rgba(161, 161, 161, 0.329);
}

.classContents {
  position: relative;
  height: 300px;
  margin: 0;
  padding: 0;
}

.details {
  opacity: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.589);
  font-style: italic;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}
.details:hover {
  visibility: visible;
  opacity: 1;
}

.details p {
  text-align: center;
}

.actions {
  display: flex;
  justify-content: flex-end;
  margin: 20px;
}
.actions button {
  padding: 3px 15px;
  border: none;
  outline: none;
  border: 1px solid transparent;
  margin: 5px;
}
.edit {
  background-color: rgb(59, 144, 255);
  color: white;
}
.edit:hover {
  background-color: white;
  border: 1px solid rgb(59, 144, 255);
  color: rgb(59, 144, 255);
}

.delete {
  background-color: #fff;
  border: 1px solid rgb(255, 52, 52) !important;
  color: rgb(255, 52, 52);
}
.delete:hover {
  background-color: rgb(255, 52, 52);
  color: white;
}

@media screen and (max-width: 750px) {
  .card {
    width: 80%;
  }
}
