.navigation {
  font-size: 13px;
  width: 150px;
  color: rgb(50, 122, 255);
  margin-left: 75px;
}
.navigation:hover {
  text-decoration: underline;
  cursor: pointer;
}
.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.formcontainer {
  border: 2px solid rgb(50, 122, 255);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
