.label {
  color: rgb(68, 68, 68);
  font-size: 14px;
}
.inputBox {
  width: 250px;
  height: 40px;
  font-size: 13px;
  border-radius: 20px;
  border: 1px solid rgb(50, 122, 255);
  outline: none;
  padding-left: 5%;
  padding-right: 5%;
}
.formHolder {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.submitButton {
  background-color: white;
  border: 2px solid rgb(50, 122, 255);
  color: rgb(50, 122, 255);
  border-radius: 5px;
  padding: 5px 0;
  width: 90%;
  margin: 20px 0;
}

.submitButton:hover {
  background-color: rgb(50, 122, 255);
  border: 2px solid transparent;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  width: 90%;
  margin: 20px 0;
}
.formfull {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  padding: 50px;
}
